<h2 class="text-center">@ViewBag.Title</h2>

<div class="row">
    <img src="@Url.Content("~/Images/SweetSpot300.jpg")" title="Michael Cressey" class="col-md-4 col-xs-2 hidden-xs">
    <div class="col-md-8 col-xs-10">
        <p>
            <strong>Michael Cressey</strong> was born in California, grew up in Maine, moved back to California in the late 90’s, and came back to New England in 2007.  The
            influence of the two coasts has given him a unique perspective on life and music.  Influenced by the LA folk rock sound of the 60’s and 70’s,
            but rooted in traditional sounds, Mike’s music is simple, straight-forward and to the point.  His music hero's are John Lennon, Jackson Browne,
            Neil Young, James Taylor, Jerry Garcia, etc.  In college in the 70's, he was introduced to traditional American and Irish music and has been greatly
            influenced by that music.
        </p>
        <p>
            Cressey’s music career began with bands in the late 60’s and early 70’s.  While in college he met and began playing bass for David Mallett, a
            Maine folk singer who gained national prominence.   In the late 70’s, Cressey performed on Mallett’s 1st album, which was produced by Noel
            Paul Stookey (of Peter, Paul & Mary fame) Blue Hill, Maine.  Mike took some time off from performing music while he focused on his career as a Softwre
            Developer.  While in California, he started performing in several bands again, one of which performed at the Lake Arrowhead
            weekend music venue.  He also started played solo.
        </p>
        <p>
            Mike started writing songs and chords progressions ever since he picked up a guitar.  His songwriting evolved over time and he got interested in recording back
            in the mid-70's.  He started producing his own music in the 80’s, 90’s and to the present.  He has released 5 CDs including a compilation of his
            best music called "The Best of Cress" in 2005.  Cressey currently lives in Grantham, CA, and performs solo as well.  He also has home studio and
            has recorded several singer/songwriters.
        </p>
        <p>
            Mike has been doing recording for many years.  He recently decided to open up this studio to the public.  He specializes in small
            audio/video projects, particulary acoustic ones.
        </p>
    </div>
</div>

