<h2 class="text-center">@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address class="h4">
    Grantham, NH 03753<br />
    <abbr title="Phone">P:</abbr>
    603-667-3422
</address>

<address class="h4">
    <strong>Contact:</strong>   <a href="mailto:mikecressey@gmail.com">Email</a><br />
</address>