
<h2 class="text-center">@ViewBag.Title</h2>

<table class="table table-striped">
    <tr>
        <th>Title</th>
        <th>Song</th>
        <th>Information</th>
    </tr>

    <tr>
        <td>The Eagle's Wing Duet</td>
        <td>
            <audio controls="controls">
                <source src = "@Url.Content("~/Music/Eagle's%20Wing.mp3")" type = "audio/mpeg" />
            </audio>
        </td>
        <td>Single (2017)</td>
    </tr>
    <tr>
        <td>Still Cressey (After All These Years)</td>
        <td>
            <audio controls="controls">
                <source src="@Url.Content("~/Music/Still%20Cressey%20(After%20All%20These%20Years).mp3")" type="audio/mpeg" />
            </audio>
        </td>
        <td>Can of Worms (1997)</td>
    </tr>
    <tr>
        <td>Dying Rock 'n' Rolled</td>
        <td>
            <audio controls="controls">
                <source src="@Url.Content("~/Music/DyingRockNRolled.mp3")" type="audio/mpeg" />
            </audio>
        </td>
        <td>Sweet Spot (2003)</td>
    </tr>
</table>