
@{
    ViewBag.Title = "Studio";
}

<h2 class="text-center">Cressey Audio & Video Studio</h2>

<div class="row">
    <div class="col-md-6">
        <div style="position:relative;height:0;padding-bottom:56.25%"><iframe src="https://www.youtube.com/embed/P-cTqUQKNo0?ecver=2" width="640" height="360" frameborder="0" style="position:absolute;width:100%;height:100%;left:0" allowfullscreen></iframe></div>
    </div>
    <div class="col-md-6">
        <h4>
            Welcome to my digital studio!  I do audio and video production for small to medium media projects.  I've been doing audio recording using analog tape recorders
            since the 1970's.  More recently I started doing video production as well, to compliment my audio production work.  My services include:
        </h4>
        <br />
        <div class="row">
            <div class="col-md-offset-3">
                <ul class="list-group">
                    <li>Digital Recording - 96 kHz/24 bit</li>
                    <li>Digital Mixing - unlimited tracks</li>
                    <li>Sound Synthesizing</li>
                    <li>Digital Mastering</li>
                    <li>Digital Video Taping</li>
                    <li>Video Editing</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <h4 class="text-center">
            Audio Samples
        </h4>
        <div class="row">

            <audio controls="controls">
                <source src="@Url.Content("~/Music/Champagne-clip.mp3")" type="audio/mpeg" />
            </audio>
            <text>Champagne clip - Evelyn Cormier</text>
        </div>
        <div class="row">
            <audio controls="controls">
                <source src="@Url.Content("~/Music/GTBG-clip.mp3")" type="audio/mpeg" />
            </audio>
            <text>Got To Be Gone clip - Evelyn Cormier</text>
        </div>
        <div class="row">
            <audio controls="controls">
                <source src="@Url.Content("~/Music/KindEyes-clip.mp3")" type="audio/mpeg" />
            </audio>
            <text>Kind Eyes clip - Evelyn Cormier</text>
        </div>
        <div class="row">
            <audio controls="controls">
                <source src="@Url.Content("~/Music/CartePostal-clip.mp3")" type="audio/mpeg" />
            </audio>
            <text>Carte Postal clip - Evelyn Cormier</text>
        </div>
    </div>
    <div class="col-md-6">
        <h4 class="text-center">
            Studio Components
        </h4>
        <div class="row">
            <div class="col-md-offset-3">
                <ul class="list-group">
                    <li>Custom Digital Audio Workstation</li>
                    <li>Reaper Multi-track recording software</li>
                    <li>Sound Forge Editing software</li>
                    <li>Vegas Movie Studio Platinum</li>
                    <li>Echo Audio Layla3G audio interface</li>
                    <li>Roland RSM-90 studio monitors</li>
                    <li>Audio-Technica AT4050 condenser microphone</li>
                    <li>CAD e70 condensor microphone</li>
                    <li>Shure Beta 87A condensor microphone</li>
                    <li>Studiologic SL-161PRO 61-Note MIDI controller</li>
                    <li>ROR E3 speakers (Auratone clones)</li>
                    <li>Vintage amps</li>
                    <li>Alesis NanoPiano</li>
                </ul>
            </div>
        </div>
    </div>

</div>