
@{
    ViewBag.Title = "Videos";
}

<h2 class="text-center">Videos</h2>
<div class="row">
    <div class="col-md-6">
        <div style="position:relative;height:0;padding-bottom:56.25%"><iframe src="https://www.youtube.com/embed/KBzmZ16qD04?ecver=2" width="640" height="360" frameborder="0" style="position:absolute;width:100%;height:100%;left:0" allowfullscreen></iframe></div>
    </div>
    <div class="col-md-6">
        <h4>
            This is the first song on my latest CD, <i>Angels and Ghosts</i> released in 2015.  I am playing the guitars, bass, keyboards and harmonica. I programmed the drums using loops from Sony Media.
            The song started as a simple lick and evolved into a nice little groove.  I produced and recorded this song in my home studio.
        </h4>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div style="position:relative;height:0;padding-bottom:56.25%"><iframe src="https://www.youtube.com/embed/q6e67gdq8AE?ecver=2" width="640" height="360" frameborder="0" style="position:absolute;width:100%;height:100%;left:0" allowfullscreen></iframe></div>
    </div>
    <div class="col-md-6">
        <h4>
            This song was written in 1998 and orginally released on my <i>Brand New Start</i> CD in 1999. I re-recorded sections of the song in 2006 and it was released on my <i>Best of Cress</i> CD.
            The song was inspired by an expression used a cab driver I met in St. Kitts and Nevis. I am playing guitar, keyboards, slide and singing. Jeff Moulds is on drums and Peter Kasianchuk is on bass.
        </h4>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div style="position:relative;height:0;padding-bottom:75.0%"><iframe src="https://www.youtube.com/embed/lJbZI1_G5VA?ecver=2" width="480" height="360" frameborder="0" style="position:absolute;width:100%;height:100%;left:0" allowfullscreen></iframe></div>
    </div>
    <div class="col-md-6">
        <h4>
            This is a video and song about the <i>Flying Yankee</i> or <i>The Yankee Flyer</i> - New England's greatest train.  The train&nbsp; was built in 1935 to help revive train travel in New England and which was the
            high-speed, high-tech, luxury train of it's day.  It ran until 1957.
        </h4>
        <h4>
            <i> &quot;Awesome.  I loved it.  I have emailed the link to all my Board Members and Advisory Members...Thanks for helping with the awareness.  Very nice job.&quot;</i><br />- Brian McCarthy, IOM, President, The Flying Yankee Restoration Group, Inc.
        </h4>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div style="position:relative;height:0;padding-bottom:56.25%"><iframe src="https://www.youtube.com/embed/KEK7sqNiT5M?ecver=2" width="640" height="360" frameborder="0" style="position:absolute;width:100%;height:100%;left:0" allowfullscreen></iframe></div>
    </div>
    <div class="col-md-6">
        <h4>
            <i>Golden Heart</i> is probably my favorite Mark Knopfler song.  Although the original is great, I wanted to do an acoustic version.  I am playing all the instruments except the drums which are from a Sony Media collection.
        </h4>
    </div>
</div>
